<%= render partial: 'common/navi' %>

<div class="help_content">
    <main role="main" class="container">
        <div class="starter-template">
            <h1>他者と繋がって<br>絵が出来ていく</h1>
            <br>
            <p class="lead">
                色塗りが苦手  背景を書くのが苦手
                <br>
                <br> 
                そんな時 このアプリを通じて<br>他の方が手助けしてくれる。
                <br> 
                <br>
                他者と繋がり<br>出来上がった絵。
                <br> 
                <br>
                顔も名前も知らない他人に<br>
                手助けしてもらった事に感謝し
                <br> 
                <br>
                次は自分が他者の絵を手助けしたい<br>
                <br> 
                <br>
                手助けを、感謝を繋げていく<br>
                <br> 
                <br>
                <br>
                そんなアプリです<br>
                <br> 
                <br>
            </p>
        </div>
    </main>
</div>

<%= render partial: 'common/footer' %>