<%= render partial: 'common/navi' %>

  <section class="help_content">
    <div class="help_container">
      <div class="panel-group" id="accordion">
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">本アプリについて</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">■ 他者と繋がって絵を描ける</div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">■ 自分の作品に他者が色塗ってくれる</div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">■ 自分が他者の作品に手を加えれる</div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">■ 料金はかかるのか？</div>
          </div>
        </div>
  
          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">各メニューについて</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ マイぺージとは？</div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ 線画を投稿するとは？</div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ 線画一覧とは？</div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ 完成品一覧とは？</div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ 申請一覧とは？</div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ 申請許可一覧とは？</div>
          </div>
            <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ ヘルプとは？</div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">■ サインアウトとは？</div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">投稿について</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">■ 線画投稿とは？</div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">■ 依頼内容とは？</div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">■ 完成品投稿とは？</div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">■ 投稿形式.psdが決められている？</div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">■ タグとは？</div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">■ 投稿が出来ない時？</div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">■ 投稿を削除したい時？</div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">申請について</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請の許可 不許可について</div>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請が許可された時？</div>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請が不許可だった時？</div>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請対処済とは？</div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">マイページについて</a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ 自分の投稿した線画はどこ？</div>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ 自分が手掛けた完成品はどこ？</div>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ お気に入り一覧とは？</div>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ プロフィールの画像を変えたい？</div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">退会</a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">内容</div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

<%= render partial: 'common/footer' %>