// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.help_content{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 1000px;
}