
//リスト情報

//一覧側からの画像
.list_image {
    /* width: 100%; */
    width: 100%;
    height: 300px;
    padding: 30px;
    background-color: #fff;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    -o-object-fit: cover;
    object-fit: contain;
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
    border-top: inset 1px #000;
    border-bottom: inset 1px #000;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

//詳細画面
.show_container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

//詳細表示時の画像
.show_image{
    width: 100%;
    height: auto;
    padding : 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 100);
}

//詳細画面タイトル
.show_tittle{
    padding: 30px;
    text-align: center;
}

//詳細申請者
.Application{
    padding: 30px;
}

//画像
.user_image{
    height: 50px;
    width: 50px;
    margin: auto;
}

//中央寄せ
.text-center {
    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 5px;
}

//空の場合
.nill_box{
    height: 72vh;
}

//リストタイトル
.list_tittle{
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: x-large;
    font-family: Gungsuh;
}

//全体
.senga-body {
    height: 270px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 0px 20px 0px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

//全体
.list_mian{
   background-color: #f0ffff;
}

//削除
.delete{
    width: 70px;
    height: auto;
}

//依頼書全体
.Request {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffc1;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 100);
    border-radius: 0.25rem;
    margin-bottom: 3rem !important;
}

//依頼書風穴
.holl{
    height: 80px;
    padding-top: 20px;

    .Circle{
        width: 35px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #f0ffff;
        border: 1px solid rgba(0, 0, 0, 100);
    }
}