// Place all the styles related to the paints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name_image{
    width: 130px;
    
    .name{
    text-align: left;
    width: 130px;
    }
}

.info{
    
    .P_text{
        text-size: 10px;
        text-align: center;
    }
}

.Applicant{
    list-style: none;
}